# Auto MPG

## Necessary Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

## Read data

In [2]:
data = pd.read_csv('auto-mpg.data', sep='\s+')
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

## Separate data into training set (80%) and test set (20%)

In [3]:
rows = data.shape[0]
train_num = round(rows * .8)
train_set = data[:train_num]
test_set = data[train_num:]

## Preprocessing data, dropping car name, reshaping and setting the target

In [4]:
X_train = train_set.drop(['mpg','car_name'],axis=1)
y_train = pd.DataFrame(train_set, columns=['mpg'])
X_train.values.reshape(-1, 7)
y_train.values.reshape(-1, 1)
X_test = test_set.drop(['mpg','car_name'],axis=1)
y_test = pd.DataFrame(test_set, columns=['mpg'])

## Independent

In [5]:
X_train.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504.0,12.0,70,1
1,8,350.0,165.0,3693.0,11.5,70,1
2,8,318.0,150.0,3436.0,11.0,70,1
3,8,304.0,150.0,3433.0,12.0,70,1
4,8,302.0,140.0,3449.0,10.5,70,1

## Target

In [6]:
y_train.head()

    mpg
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0

## Select and fit the model

In [7]:
ols = LinearRegression()
model = ols.fit(X_train, y_train)

ValueError: could not convert string to float: '?'